<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>A.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {89, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{89, 93}</string>
			<key>spriteSourceSize</key>
			<string>{89, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 0}, {89, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>B.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 93}</string>
			<key>spriteSourceSize</key>
			<string>{64, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{333, 383}, {64, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>C.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 98}</string>
			<key>spriteSourceSize</key>
			<string>{84, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 404}, {84, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>D.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 93}</string>
			<key>spriteSourceSize</key>
			<string>{81, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 81}, {93, 81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>E.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 93}</string>
			<key>spriteSourceSize</key>
			<string>{61, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 96}, {93, 61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>F.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 93}</string>
			<key>spriteSourceSize</key>
			<string>{57, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 314}, {57, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>G.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 98}</string>
			<key>spriteSourceSize</key>
			<string>{84, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 404}, {84, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>H.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 93}</string>
			<key>spriteSourceSize</key>
			<string>{71, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 312}, {93, 71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>I.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {12, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{12, 93}</string>
			<key>spriteSourceSize</key>
			<string>{12, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 392}, {93, 12}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>J.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 96}</string>
			<key>spriteSourceSize</key>
			<string>{52, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 0}, {52, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>K.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 93}</string>
			<key>spriteSourceSize</key>
			<string>{71, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 250}, {71, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>L.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 93}</string>
			<key>spriteSourceSize</key>
			<string>{54, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 162}, {54, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 93}</string>
			<key>spriteSourceSize</key>
			<string>{92, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 157}, {92, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>N.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 93}</string>
			<key>spriteSourceSize</key>
			<string>{77, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 235}, {93, 77}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>O.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {97, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{97, 98}</string>
			<key>spriteSourceSize</key>
			<string>{97, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 414}, {97, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>P.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 93}</string>
			<key>spriteSourceSize</key>
			<string>{59, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 96}, {93, 59}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Q.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 95}</string>
			<key>spriteSourceSize</key>
			<string>{101, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 291}, {95, 101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>R.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 93}</string>
			<key>spriteSourceSize</key>
			<string>{64, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 314}, {93, 64}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>S.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 98}</string>
			<key>spriteSourceSize</key>
			<string>{60, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 158}, {60, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>T.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 93}</string>
			<key>spriteSourceSize</key>
			<string>{72, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 242}, {93, 72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>U.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 96}</string>
			<key>spriteSourceSize</key>
			<string>{70, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {70, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>V.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{81, 93}</string>
			<key>spriteSourceSize</key>
			<string>{81, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {93, 81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>W.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {123, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 93}</string>
			<key>spriteSourceSize</key>
			<string>{123, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 291}, {93, 123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>X.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 93}</string>
			<key>spriteSourceSize</key>
			<string>{80, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 162}, {93, 80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Y.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 93}</string>
			<key>spriteSourceSize</key>
			<string>{80, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{271, 155}, {93, 80}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>Z.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 93}</string>
			<key>spriteSourceSize</key>
			<string>{68, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 383}, {68, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>atomic.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {119, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 133}</string>
			<key>spriteSourceSize</key>
			<string>{119, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 158}, {119, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>block-bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {158, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{158, 158}</string>
			<key>spriteSourceSize</key>
			<string>{160, 160}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {158, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>empty.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1, 1}</string>
			<key>spriteSourceSize</key>
			<string>{1, 1}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 404}, {1, 1}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>avenir-blocks.zwd</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>x4</string>
			<key>textureFileName</key>
			<string>avenir-blocks</string>
			<key>textureFileExtension</key>
			<string>.pvr.ccz</string>
			<key>coordinatesFileName</key>
			<string>avenir-blocks</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>